.bg-baje {
  background-color: #f7ecde;
}
.movabol {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  font-family: "Pacifico", cursive;
  line-height: 4rem;
}
.movabol::after {
  content: "";
  width: 100%;
  height: 15px;
  background-color: #fec260;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
  transition: height 0.5s;
}
.movabol:hover::after {
  height: 40px;
}
.text-gradiant {
  background: linear-gradient(90deg, #3fa55c, #b2ac4a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.border-dotet {
  border-top: 3px black dotted;
  border-bottom: 3px black dotted;
}
.form-control:focus {
  border-color: #d49e0bb1;
  -webkit-box-shadow: rgba(202, 172, 20, 0.712) 0px 0px 10px;
  box-shadow: rgba(202, 172, 20, 0.655) 0px 0px 10px;
}
